<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
      ul {
        list-style: none;
      }
      li {
        list-style: none;
      }
      .container {
        background: #eee;
        padding: 50px;
      }
      .card {
        padding: 25px;
        margin: 25px;
        background: white;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      }
      .done {
        font-size: 10px;
        color: #ccc;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Hi <%= @user.fullname %></h1>
      <p>
        <p>Here are your lists:</p>
        <% @user.lists.each do |list| %>
        <div class="card">
          <h2><%= list.name %></h2>
          <p><%= list.description %></p>
          <ul>
            <% list.tasks.each do |task| %>
            <li><i class="fa fa-home"></i><%= task.name %> - <span class="done"><%= task.done ? 'done' : 'pending' %></span></li>
            <% end %>
          </ul>
        </div>
        <% end %>
      </p>
    </div>
  </body>
</html>