<div class="card column is-4 is-offset-4">
  <div class="card-content">
    <a href="<%= edit_user_registration_path  %>" class="button is-warning is-rounded is-pulled-right"><i class="fa fa-edit"></i> Edit</a>
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img src="<%= @user.avatar.attached? ? url_for(@user.avatar) : @user.image ? @user.image : 'https://art.placefull.com/Content/Properties/shared/images/no-profile-image.png' %>" alt="Placeholder image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-3 is-12-tablet is-12-mobile"><%= @user.name %> <%= @user.lastname %></p>
        <p class="subtitle is-4"><%= @user.email %></p>
        <p class="is-6">Has <%= @user.lists.count %> lists
        and <%= @user.tasks.where(done: true).count %>/<%= @user.tasks.count %>  completed taks</p>
        <% percentage = @user.tasks.where(done: true).count.to_f / @user.tasks.count * 100 %>
        <progress-bar class="mx-25" bar-color="#3273dc" val="<%= percentage.round(2) %>" text="<%= "#{percentage.round(2)}%" %>" />
      </div>
    </div>

    <div class="content">
      <p><%= @user.description %></p>
      <br>
      <time>Join <%= @user.created_at %></time>
    </div>
  </div>
</div>