<!DOCTYPE html>
<html>
  <head>
    <title>Todo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1102227886613682',
          cookie     : true,
          xfbml      : true,
          version    : 'v3.1'
        });
          
        FB.AppEvents.logPageView();   
          
      };

      (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <div id="app" class="container-fluid">
      <app :user="<%= @user.to_json %>" :avatar="'<%= url_for(@user.avatar) if user_signed_in? and @user.avatar.attached? %>'" :token="<%= form_authenticity_token.to_json %>">
        <div class="notice level">
          <% if notice != nil %>
            <notify type="info" text="<%= notice %>" />
          <% end %>
          <% if alert != nil %>
            <notify type="danger" text="<%= alert %>" />
          <% end %>
        </div>
        <%= yield %>
      </app>
    </div>
  </body>
</html>
