<!DOCTYPE html>
<html>
  <head>
    <title>Todo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="app" class="container-fluid">
      <app :user="<%= @user.to_json %>" :token="<%= form_authenticity_token.to_json %>">
        <div class="notice level">
          <% if notice != nil %>
            <notify type="info" text="<%= notice %>" />
          <% end %>
          <% if alert != nil %>
            <notify type="danger" text="<%= alert %>" />
          <% end %>
        </div>
        <%= yield %>
      </app>
    </div>
  </body>
</html>
